/* - - - - - - - - - -
F o n t s
- - - - - - - - - - */
@import url('fonts.css');
/* - - - - - - - - - -
R e s e t
- - - - - - - - - - */
@import url('reset.css');
/* - - - - - - - - - -
V a r i a b l e s
- - - - - - - - - - */
:root {
    --font-heading: 'Playwrite México';
 
    --font-body: 'Playwrite México';

    --color1: #000000;
    --color2: #000000;
    --color3: #000000;
    --color4: #ff0000;
    --color5: #000000;
}
/* - - - - - - - - - -
G e n e r a l
- - - - - - - - - - */
body {
    background-color: var(--color1);
    color: var(--color4);
    main {
        header {
            background-color: var(--color1);
            position: fixed;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: 0.4rem;
            top: 0;
            height: 80px;
            width: 100%;
            img {
                transition: transform 0.4s ease-in;
                width: 150px;
            }
            nav {
                display: flex;
                gap: 1rem;
                a:is(:link, :visited) {
                    color: var(--color4);
                    font-family: var(--font-heading);
                    text-decoration: none;
                    font-size: 24px;
                    display: flex;
                    flex-direction: column;
                    transition: transform 0.2s ease-in;
                    align-items: center;
                    width: 178px;
                }
                a:is(:hover) {
                    transform: scale(1.1);
                }
                a:is(:hover) img {
                    transform: translateY(3px);
                }
            }
        }
        /* Owl nav*/
        div.owl-nav {
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            button {
                transition: all 0.2s ease-in;
                span {
                    display: flex;
                    height: 50px;
                    width: 50px;
                    text-indent: -9999px;
                }
            }
            button.owl-prev {
                &:hover {
                    background: transparent !important;
                    transform: translateX(-5px);
                }
                span {
                    background: url(../img/arrow-left-solid\ \(1\).svg) no-repeat center;
                }
            }
            button.owl-next {
                &:hover {
                    background: transparent !important;
                    transform: translateX(5px);
                }
                span {
                    background: url(../img/arrow-right-solid\ \(1\).svg) no-repeat center;
                }
            }
        }
        /* Section: Slider */
        section.slider1 {
            margin-top: 80px;
            height: 1000px;
            img {
                height: 1000px;
                object-fit: cover;
            }
            div.owl-dots {
                margin-top: -40px;
                position: relative;
                button.owl-dot {
                    span {
                        background-color: var(--color3);
                        height: 14px;
                        transition: all 0.4s ease-in;
                        width: 14px;
                    }
                }
                button.owl-dot.active {
                    span {
                        background-color: var(--color4);
                    }
                }
                button.owl-dot:hover {
                    span {
                        background-color: var(--color3);
                        transform: scale(1.2);
                    }
                }
            }
        }
        /* Section: Characters */
        section.characters {
            background-color: var(--color1);
            height: 700px;
            h2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: var(--font-heading);
                font-size: 60px;
                margin-left: 2.5rem;
                margin-top: 50px;
                width: 296px;
            }
            div.slider2 {
                margin-inline: auto;
                margin-block: 4rem;
                width: 90%;
                article {
                    height: 400px;
                    figure {
                        background: linear-gradient(var(--color3), var(--color5));
                        img {
                            height: 300px;
                            object-fit: contain;
                        }
                    }
                    figcaption {
                        background-color: var(--color2);
                        color: var(--color4);
                        font-family: var(--font-heading);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 24px;
                        height: 100px;
                    }
                }
            }
        }
        /* Section: History */
        section.history {
            background-color: var(--color2);
            height: 700px;
            h2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: var(--font-heading);
                font-size: 60px;
                margin-left: 2.5rem;
                padding-top: 80px;
                width: 296px;
            }
            div.slider3 {
                margin-inline: auto;
                margin-block: 4rem;
                width: 90%;
                article {
                    display: flex;
                    height: 400px;
                    figure {
                        width: 100%;
                        img {
                            width: 100%; /* Ajustar ancho al 100% del contenedor */
                            height: auto; /* Altura automática proporcional */
                        }
                        figcaption {
                            background-color: var(--color1);
                            color: var(--color4);
                            font-family: var(--font-heading);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 24px;
                            height: 100px;
                        }
                    }
                    aside {
                        padding: 1rem;
                        background: linear-gradient(var(--color3), var(--color5));
                        width: 55%;
                        h3 {
                            font-size: 24px;
                            font-family: var(--font-heading);
                            text-decoration: underline;
                            margin-bottom: 1rem;
                        }
                        p {
                            font-family: var(--font-body);
                            margin-bottom: 0.4rem;
                        }
                    }
                }
            }
        }
        /* Section: Charms */
        section.charms {
            background-color: var(--color1);
            height: 700px;
            h2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: var(--font-heading);
                font-size: 60px;
                margin-left: 2.5rem;
                margin-top: 50px;
                width: 296px;
            }
            div.slider4 {
                margin-inline: auto;
                margin-block: 4rem;
                width: 60%;
                article {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 160px;
                    img {
                        cursor: pointer;
                        opacity: 0.7;
                        transition: all 0.4s ease-in;
                        width: 100px; /* Ajusta el tamaño según tus necesidades */
                        height: 100px; /* Ajusta el tamaño según tus necesidades */
                        object-fit: cover;
                        &:hover {
                            opacity: 1;
                            transform: scale(1.05);
                        }
                    }
                }
            }
            div.description {
                background: linear-gradient(var(--color3), var(--color5));
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-inline: auto;
                height: 80px;
                width: 380px;
                h4 {
                    font-family: var(--font-body);
                    text-align: center;
                    font-size: 24px;
                }
            }
        }
        /* Section: Footer */
        footer {
            display: flex;
            align-items: center;
            justify-content: center; /* Cambia 'end' a 'center' */
            flex-direction: column;
            gap: 1rem;
            background: url(//imagenes/fut.png) no-repeat center /cover;
            height: 400px;
            figure {
                display: flex;
                justify-content: center; /* Añadir esta línea para centrar */
                gap: 0.6rem;
                img {
                    cursor: pointer;
                    opacity: 0.7;
                    transition: all 0.4s ease-in;
                    &:hover {
                        opacity: 1;
                        transform: scale(1.05);
                    }
                }
            }
            p {
                font-family: var(--font-body);
                padding-bottom: 1rem;
            }
        }
    }
}
